body{
    margin: 0px;
    background-color: #1d1c28;
    font-family: Arial, sans-serif;
}
h1{
    color: white;
    margin: 100px 700px;
    flex-wrap: nowrap;
}
.box-do-cadastro {
    width: 100%;
    background-color: none;
    text-align: center;
    padding: 0px;
    box-sizing: border-box;
  }
  
  input[type="email"],
  input[type="password"],
  input[type="number"] {
    background-color: white;
    color: black;
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 10px;
  }
  input[type="email"],
  input[type="password"],
  input[type="number"] {
    background-color: white;
    color: #000;
    width: 400px;
    height: 30px;
    margin-top: -5px;
    cursor: pointer;
    justify-content: center;
    border: black solid;
    border-radius: 10px;
    text-decoration: none;
    transition: all 0.2s ease;
  }
  input:hover[type="email"], 
  input:hover[type="password"],
  input:hover[type="number"]{
    color: #43e96d;
    background-color: black;
    border: #43e96d solid;
    width: 400px;
    height: 30px;
  }
  input:active[type="email"],
  input:active[type="password"],
  input:active[type="number"]{
    transform: scale(0.96);
  }
  button {
    background-color: #43e96d;
    color: black;
    width: 500px;
    height: 55px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    text-transform: uppercase;
  }
  button:hover{
    background-color: black;
    color: #43e96d;
    border: #43e96d solid ;
    height: 55px;
  }
  button:active{
    transform: scale(0.96);
  }
  .botao-volte-ao-login{
    height: 50px;
    width: 150px;
    background-color: #43e96d;
    color: black;
  }
  .botao-volte-ao-login:hover{
    height: 50px;
    width: 150px;
    background-color: black;
    color: #43e96d;
  }
  .botao-volte-ao-login:active{
    transform: scale(0.96);
  }
  @media (max-width: 768px) {
    h1 {
        margin: 50px 10%;
    }

    input[type="email"],
    input[type="password"],
    input[type="number"] {
        width: 100%;
    }

    button {
        width: 100%;
    }
}