body, html {
  margin: 0;
  padding: 0;
}


body {
  font-family: Arial, sans-serif;
  background-color: white;
  color: #333;
}

header {
  background-color: #1d1c28;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 10px 20px; 
}

h1{
  font-size: 30px;
}

.logo img { 
  height: auto;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin-left: 15px; 
}

nav a {
  color: #fff;
  font-weight: bold;
  font-size: 1.2em;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease; 
  margin-right: 100px;
}

nav h1 i {
  margin-right: 5px;
  margin-left: 10px;
  transition: transform 0.3s ease;
}

nav a:hover i {
  transform: translateX(-5px);
  color: #43e96d;
}


nav a:hover {
  background-color: #2c2b3a; 
  color: #43e96d;
}

.container-search {
  text-align: center;
  margin-top: -35px;
  margin-bottom: 5px;
}


.adicionar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 150px;
  margin-top: 7px;
}

.favoritos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 150px;
  margin-top: 7px;
}

.chat {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 250px;
  margin-top: 7px;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 400px;
  margin-top: 7px;
}

input[type="text"] {
  padding: 5px;
  border: none;
  border-radius: 3px;
}

button[type="submit"] {
    padding: 5px 10px;
    background-color: #43e96d; 
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}



@keyframes pulsate {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0.8);
  }
}

#loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: #f0f0f0ff; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-content img {
  max-width: 150px; 
  animation: pulsate 1.5s infinite;   
}


footer {
  background-color: #1d1c28;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-top: 60px;
}

.footer-links a {
  margin-right: 15px; 
  text-decoration: none;
  color: #43e96d;
}
.footer p {
  font-size: 1.2em;
  margin-top: 10px;
}
.footer-links a:last-child {
  margin-right: 0;
}

