  body{
    margin: 0px;
  }
  .contatos{
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: #43e96d;
  
  }
  
  .contatos1{
    width: 100%;
    max-width: 900px;
    height: auto;
    overflow: hidden;
    margin: auto;
  }
  
  .cont{
    width: 33.3%;
    height: 40px;
    float: left;
  }
  
  .cont p{
    font-family:'gothan';
    font-size: 14pt;
    margin-top: 8px;
    color: black;
    text-align: center;
  }
  
  @media only screen and (max-width:600px){
    .cont{
        width: 100%;
    }
    
    .cont p{
        text-align: center;
    }
  }
  
  .vermelho{
    display: flex;
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: #1d1c28;
  }
  .amarelo{
    width: 100%;
    max-width: 200px;
    height: auto;
    overflow: hidden;
    background-color: #1d1c28;
  }
  .amarelo img{
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .azul {
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex; 
    flex-wrap: wrap; 
    background-color: #1d1c28;
  }
  
  .verde {
    width: 30%; 
    height: 58px; 
    background-color: #1d1c28;
  }
  .verde p{
    font-family: 'gothan'; 
    font-size: 14pt;
    margin-top: 15px;
    color: #43e96d;
    text-align: center;
    letter-spacing: 3px;
    text-shadow: 5px 5px 5px #000000;
  }
  a:link{
    text-decoration: none;
  }
  a:hover{
    text-decoration: underline;
    text-decoration-color: #43e96d;
  }
  
  @media only screen and (max-width: 600px) {
    .azul {
      max-width: 100%;
    }
    
    .verde {
      width: 100%; 
    }
  }
  
  @media only screen and (max-width:600px){
    .amarelo{
        max-width: 100%;
    }
  
    .amarelo img{
        align-items: center;
    }
  
    
    .verde p{
        text-align: center;
    }
  }
  

  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }

  h1 {
    margin: 0;
    font-size: 28px;
  }

  main {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
  }

  .company-description {
    margin-bottom: 20px;
  }

  .company-description h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
  }

  .company-description p {
    line-height: 1.5;
  }

  .job-requirements {
    margin-bottom: 20px;
  }

  .job-requirements h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
  }

  .job-requirements ul {
    list-style: disc;
    padding-left: 20px;
    margin-top: 0;
  }

  .job-requirements li {
    line-height: 1.5;
  }

  .application-button {
    background-color: #1d1c28;
  color: #43e96d;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
  }

  .application-button:hover {
    background-color: #43e96d;
    color: #000000;
  }

  .application-button :active{
    transform: scale(0.96);

  }

  .batata {
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex; 
    flex-wrap: wrap; 
    background-color: #1d1c28;
  
  }
  
  .batatinha {
    width: 50%; 
    height: 58px; 
    background-color: #1d1c28;
  }
  .batatinha p{
    font-family: 'gothan'; 
    font-size: 14pt;
    margin-top: 15px;
    color: #43e96d;
    text-align: center;
    letter-spacing: 3px;
    text-shadow: 5px 5px 5px #000000;
  }
  
  @media screen and (max-width: 768px) {
    .batata {
      flex-direction: column;
    }
    
    .batatinha {
      width: 100%;
    }
    
    .batatinha p {
      margin-top: 10px;
      font-size: 12pt;
    }
  }
  
  
  
  .categorias {
    width: 170px;
    height: 100%;
    background-color: #f2f2f2;
    border: 3px solid gray;
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
    color: #333;
    float: left;
    border-radius: 4px;
  }
  
  .categorias ul {
    list-style-type: none;
    padding: 0;
  }
  
  .categorias ul li {
    position: relative;
  }
  
  .categorias ul li a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: #000000;
  }
  
  .categorias ul li a:hover {
    background-color: #43e96d;
    color: #000000;
    border: #000000 3px solid;
    border-radius: 0.5px;
  }
  
  .categorias .sub-opcoes {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 999;
    width: 200px;
    background-color: #43e96d;
    color: #000000;
    border-left: 3px solid #000000;
  }
  
  .categorias ul li:hover .sub-opcoes {
    display: block;
  }
  
  .categorias .sub-opcoes li {
    margin-top: 0;
  }
  
  .categorias .sub-opcoes li a {
    padding-left: 30px;
  }
  
  
  
  @media screen and (max-width: 600px) {
    .categorias {
      width: 100%;
      float: none;
      margin: 20px 0;
    }
  
    .categorias .sub-opcoes {
      position: static;
      width: 100%;
      background-color: #f2f2f2;
      border-left: none;
      border-top: 3px solid #000000;
    }
  
    .categorias ul li:hover .sub-opcoes {
      display: none;
    }
  }
  