body {
  margin: 0;
  background-color: #1d1c28;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #1d1c28;
  border-radius: 5px;
}

h2 {
  text-align: center;
  color: white;
}

.form-group {
  margin-bottom: 10px;
}

label {
  display: block;
  font-weight: bold;
}

.box-do-login {
  background-color: none;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

input[type="email"],
input[type="number"],
input[type="password"] {
  background-color: white;
  color: black;
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}

input[type="email"]:hover,
input[type="number"]:hover,
input[type="password"]:hover {
    color: #43e96d;
    background-color: black;
    border: #43e96d solid;
    width: 400px;
    height: 55px;
}

input[type="email"]:active,
input[type="number"]:active,
input[type="password"]:active {
  transform: scale(0.96);
}

button {
  background-color: #43e96d;
  color: black;
  width: 100%;
  height: 55px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background-color: black;
  color: #43e96d;
  border: #43e96d solid ;
}

button:active {
  transform: scale(0.96);
}

.botao-volte-ao-login{
  height: 50px;
  width: 150px;
  background-color: #43e96d;
  color: black;
}
.botao-volte-ao-login:hover{
  height: 50px;
  width: 150px;
  background-color: black;
  color: #43e96d;
}
.botao-volte-ao-login:active{
  transform: scale(0.96);
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
}

h3 {
  color: #43e96d;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.amarelo {
  margin-bottom: 20px;
}

.amarelo img {
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 700px;
    margin: 50px auto;
  }

  .box-do-login {
    width: 450px;
    margin: 0 auto;
  }
}
